<!DOCTYPE html>
<html ⚡>
<head>
<meta charset="utf-8">
<title>{% block title %}{{ title }}{% endblock %}</title>
<meta name="description" content="{% block desc %}{{ desc }}{% endblock %}">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
{% include 'page/amp-boilerplate.html' %}
{% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<header><a href="/">{{ site_name }}</a></header>
<main class="content">
    {% block breadcrumb %}{% endblock %}
    {% block content %}{% endblock %}
</main>
<footer>
<p>&copy; {{ site_name }}
</footer>
</body>
</html>
