{% extends 'page/base.html' %}
{% block title %}{{ page.title }}{% if page.author %} by {{ page.author }}{% endif %} - {{ site_name }}{% endblock %}
{% block head %}
<link rel="canonical" href="{{ page.get_absolute_url }}">
<link rel="alternate" href="/feed.xml" type="application/rss+xml" title="RSS">
{% endblock %}

{% block body_class %}page page__{{ page.slug }}{% endblock %}

{% block breadcrumb %}
{% if page.parent %}
    <div class="breadcrumb" itemprop="breadcrumb">
		<a href="/">Home</a> ›
        <a href="/{{ page.parent }}">{{ page.parent }}</a> ›
    </div>
{% endif %}
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {% if page.author %}
        <div class="author">By <b>{{ page.author }}</b></div>
    {% endif %}

    {% if page.slug == 'this' %}
        <!--example to override-->
    {% endif %}

    {{ page.body }}
    {% include 'page/nav.html' %}
    {% if dev %}<p><a href="{{ repo_url }}{{ page.rel_source_path }}">edit</a>{% endif %}
{% endblock %}
