{% extends 'base.html' %}
{% load page_tags %}
{% block title %}{{ page.title }} - {{ site_name }}{% endblock %}
{% block head %}
<link rel="alternate" href="{% url 'feed' %}" type="application/rss+xml" title="RSS">
{% endblock %}

{% block body_class %}page page__{{ page.slug }}{% endblock %}

{% block breadcrumb %}
{% if page.parent %}
    <div class="breadcrumb" itemprop="breadcrumb">
		<a href="/">Home</a> ›
        <a href="{{ page.parent.get_absolute_url }}">{{ page.parent.title }}</a> ›
    </div>
{% else %}
	<br>
{% endif %}
{% endblock %}

{% block content %}
    {% if not page.active and not user.is_staff %}
        <p>Sorry, this page is disabled for now.</p>
    {% else %}
        <h1>{{ page.title|widont }}</h1>
        {% if page.author %}
            <div class="author">By <b>{{ page.author }}</b></div>
        {% endif %}
        {% include 'page/page-banner.html' %}
        {{ page.body|safe }}
        {% include 'page/nav.html' %}
        {% include 'page/page-footer.html' %}
    {% endif %}
{% endblock %}
