<!DOCTYPE html>
<html>
<head>
    <title>Eshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/shop/style.css">
    <style>
        .products{padding:0;list-style:none;display:grid;
            grid-template-columns:repeat(3, 1fr)}
    </style>
</head>
<body>
    <h2>Eshop</h2>
    {% include 'cart.html' %}
    <ul class="products">
        <li id="product-1">
            <h3>Produkt 1</h3>
        </li>
        <li id="product-2">
            <h3>Produkt 2</h3>
        </li>
        <li id="product-3">
            <h3>Produkt 3</h3>
        </li>
    </ul>
    {% include 'cart.js.html' %}
</body>
</html>
