{% if page.created %}
    <p><small>Created: {{ page.created }}</small></p>
{% endif %}

{% if page.slug == 'docs' %}
    {% for section in ls %}
    <div class="page__section">
        <h2>{{ section.title }}</h2>
        <ul class="page__list">
        {% for p in section.children %}
            {% if p.active %}
            <li><a href="/{{ page.slug }}/{{ p.slug }}">{{ p.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
    <div class="clear"></div>
{% endif %}

{% if page.slug == 'blog' %}
    <ul class="page__nav-{{ page.slug }}">
    {% for p in ls %}
            {% if p.active %}
            <li class="post">
                <h2><a href="/{{ page.slug }}/{{ p.slug }}">{{ p.title }}</a></h2>
                {{ p.teaser|safe }}
                {% if p.teaser != p.body %}
                    <p><a href="/{{ page.slug }}/{{ p.slug }}">Continue reading&hellip;</a></p>
                {% endif %}
            </li>
            {% endif %}
    {% endfor %}
    </ul>
{% endif %}

{% if page.slug == 'press' or page.slug == 'books' %}
    <ul class="page__list">
    {% for p in ls %}
        {% if p.active %}
        <li><a href="/{{ page.slug }}/{{ p.slug }}">{{ p.title }}</a>
        {% if p.author %}by {{ p.author }}{% endif %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endif %}
